.admin-header {
  height: 64px;
  width: 100%;
  background-color: #022873;
  color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.logo {
  text-align: center;
  font-size: 34px;
  padding: 12px 0;
}

.admin-aside {
  position: absolute;
  width: 288px;
  height: 95vh;
  padding: 24px;
  background: #F2EBDC;
}
.admin-profile {
  font-size: 20px;
  line-height: 1.75;
}
.admin-profile-name {
  color: #734136;
}
.admin-aside-btn-group {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.admin-btn {
  width: 114px;
  height: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 20px;
  border: none;
}
.admin-aside-hr {
  width: 240px;
  margin: 24px 0;
}
.admin-nav-ul {
  margin: 24px 0;
  font-size: 16px;
}
.admin-nav-header {
  font-weight: bold;
  margin-bottom: 13px;
}
.admin-nav-li {
  margin-bottom: 7px;
}
.admin-wrap {
  margin-left: 288px;
}

.admin-container {
  margin: 116px auto;
  width: 728px;
}
.admin-title {
  font-weight: bold;
  font-size: 24px;
}
.admin-subtitle {
  margin-top: 16px;
}
.admin-textarea {
  font-size: 15px;
  font-family: inherit;
  padding: 10px;
  margin: 48px 0 30px;
  width: 100%;
  height: 432px;
  border: 3px solid #022873;
  resize: none;
}
.admin-btn-right {
  float: right;
}
.form-margin-top {
  margin-top: 216px;
}
.admin-section {
  width: 768px;
}

.view-admin {
  margin-top: 30px;
  display: flex;
  column-gap: 13px;
  row-gap: 22px;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.card-img-wrap {
  display: block;
  overflow: hidden;
  height: 172px;
  width: 172px;
  background: #EEE;
}
.card-img-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card-img {
  width: 100%;
}

.card-info-small {
  padding: 10px;
  height: 54px;
  font-size: 14px;
}
.detail-card-bottom {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.card-rent svg {
  vertical-align: top;
}