.footer{
  background-color:#26272b;
  padding:45px 0;
  color:#737373;
  width:100%;
  justify-content: center;
  line-height:24px;
}
.footer-content{
  margin: 0 auto;
  max-width: 1096px;
  display: flex;
  flex-direction: column;
}
.footer-info{
  display: flex;
  justify-content:space-between;
}
.footer h6{
  font-weight:normal;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin:5px 0 10px 0;
  letter-spacing:2px
}
.footer-bar{
  display: inline-block;
  margin:0 4px;
}
.footer-right{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer-container{
  display: flex;
}
.footer-links{
  padding-right:64px;
  color: #fff;
}
.footer hr{
  border-top-color:#bbb;
  opacity:0.5;
  margin: 20px 0;
}
.footer-copy{

}