.header {
  width: 100%;
  background: #F2EBDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1096px;
  padding: 12px inherit;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-logo {
  font-size: 34px;
  padding: 12px 27px 12px 0;
}
.nav-navbar {
  display: flex;
}
.nav-navbar li {
  padding: 23px 20px;
  margin: auto 7px;
  transition-duration: 125ms;
}
.nav-navbar li:hover {
  background: #734136;
}
.nav-navbar li:hover a {
  transition-duration: 125ms;
  color: #FFF;
}
.nav-right {
  display: flex;
  justify-content: space-between;
}
.nav-icon-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}
.nav-icon-group a {
  cursor: pointer;
}
.nav-icon-group .iconify {
  margin-right: 18px;
}
.nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-user li {
  margin-left: 18px;
}

.header-search {
  position: absolute;
  width: 100%;
  background: #F8F8F8;
  transition-duration: 500ms;
}
.header-search-container {
  display: flex;
  justify-content: flex-end;
  max-width: 1096px;
  margin: 0 auto;
  padding: 12px 0;
}
.header-search-select {
  padding: 0 16px;
  border: 1px solid #000;
  border-right: none;
}
.header-search-input {
  padding: 8px;
  width: 35vw;
  border: 1px solid #000;
  outline: none;
}
.header-search-submit {
  padding: 8px 32px;
  border: none;
  background: #022873;
  color: #FFF;
}

.footer {
  background-color: #26272b;
  padding: 45px 0;
  color: #737373;
  width: 100%;
  justify-content: center;
  line-height: 24px;
}
.footer-container {
  display: flex;
  margin: 0 auto;
  max-width: 1096px;
  flex-direction: column;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px
}
.footer-bar {
  display: inline-block;
  margin: 0 4px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer-links {
  padding-right: 64px;
  color: #fff;
}
.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  margin: 20px 0;
}
.footer-last {
  display: flex;
  justify-content: space-between;
}
.footer-copy {}
.footer-icon-group {
  display: flex;
  gap: 10px;
  font-size: 20px;
}