*{margin:0;padding:0;list-style-type:none;box-sizing: border-box;font-family:'Noto Sans KR',sans-serif;}
a{text-decoration:none;color:inherit;outline:none}
body {
  font-size:15px;
  color:#000;
  letter-spacing:0px;
  font-weight:400;
  line-height:1;
}
li{ list-style:none; }
.header{
  width:100%;
  background:#F2EBDC;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content:center;
}
.nav{
  align-items:center;
  display:flex;
  justify-content:space-between;
  padding:12px inherit;
  max-width:1096px;
  order:0;
  margin:0 auto;
}
.nav-left{
  display: flex;
  justify-content:center;
  align-items:center;
  padding:auto 12px;
}
.nav-logo{
  font-size:34px;
  padding:12px 27px 12px 0;
}
.nav-navbar{
  display:flex;
  align-items:flex-start;
  order:1;
}
.nav-navbar li{
  padding:23px 20px;
  margin:auto 7px;
  transition-delay:50ms;
  transition-duration:100ms;
}
.nav-navbar li:hover{
  background:#734136;
}
.nav-navbar li:hover a{
  transition-delay:50ms;
  transition-duration:100ms;
  color:#FFF;
}
.nav-right{
  display:flex;
  justify-content:space-between;
}
.nav-icons{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:26px;
}
.nav-icons .iconify{
  margin-right:18px;
}
.nav-user{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.nav-user li{
  margin-left:18px;
}
.form-section{
  display: flex;
  margin:0 auto;
  width:100%;
  height:80vh;
}
.form-container{
  width:568px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 54px 38px;
  align-items: center;
  border: 1px solid #F2EBDC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-title{
  font-size:32px;
  margin-bottom:38px;
}
.form-container form *{
  font-size:15px;
}
.form-container form{
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width: 100%;
}
.form-input{
  margin-bottom:28px;
  padding:0 12px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  margin-bottom: 28px;
  height:48px;
}
.form-div{
  width:100%;
  display:flex;
  justify-content: flex-end;
}
.form-submit{
  width:100%;
  height:47px;
  background: #022873;
  color:#fff;
}
.email{
  flex-grow: 1;
}
.email-button{
  width: 150px;
}
.footer{
  background-color:#26272b;
  padding:45px 0;
  color:#737373;
  width:100%;
  justify-content: center;
  line-height:24px;
}
.footer-content{
  margin: 0 auto;
  max-width: 1096px;
  display: flex;
  flex-direction: column;
}
.footer-info{
  display: flex;
  justify-content:space-between;
}
.footer h6{
  font-weight:normal;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin:5px 0 10px 0;
  letter-spacing:2px
}
.footer-bar{
  display: inline-block;
  margin:0 4px;
}
.footer-right{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer-container{
  display: flex;
}
.footer-links{
  padding-right:64px;
  color: #fff;
}
.footer hr{
  border-top-color:#bbb;
  opacity:0.5;
  margin: 20px 0;
}
.footer-copy{

}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  padding-top:64px;
  height:960px;
}
.wrapper h2{
  font-size:34px;
  font-weight:normal;
}
.wrapper *{
  margin-bottom:55px;
}
.banner{
  width: 1024px;
  height: 576px;
}
.banner img{
  width: 100%;
  height: 100%;
}
.description{
  font-size:24px;
  text-align: center;
  line-height: 35px;
}
.discover-section{
  display:flex;
  margin:auto;
  width:100%; 
}
.discover-wrapper{
  display: flex;
  flex-direction: column;
  padding :64px 0;
  margin:0 auto;
  width:1096px;
}
.discover-filters{
  width:100%;
  border-top: #CCC 1px solid;
}
.filter-row{
  border-bottom: #CCC 1px solid;
  display:flex;
  padding:0 18px;
  height:64px;
  align-items:center;
}
.filter-header{
  font-weight:bold;
  width:44px;
}
.filter-buttons{
  display:flex;
}
.filter-button{
  width:100px;
  height:38px;
  margin-left:27px;
}
.filter-button label{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  border: 0.5px solid #CCC;
  border-radius: 2px;
}
.filter-button input{
  display: none;
}
.filter-button input:checked + label{
  background:#022873;
  color:#FFF;
}
.discover-middle{
  display:flex;
  align-items:space-between;
  margin:32px 0;
}
.views-row{
  width:1096px;
  display:flex;
  justify-content:space-between;
  margin-bottom: 50px;
}
.card{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-img{
  background-color: #EEE;
  display:block;
  height:256px;
  width:256px;
  overflow:hidden;
  align-items:center;
  display:flex;
}
.card-img-mask{
  transform: translate(0, 0%);
}
.card-img img{
  width:256px;
  max-height:auto;
}
.card-info{
  padding:12px;
  display:flex;
  justify-content:space-between;
}
.card-title{
  font-weight:normal;
  font-size:16px;
  margin-bottom:7px;
}
.card-artist{
  color:#666;
}
.card-text-margin{
  margin-bottom:5px;
}
.card-status{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-end;
}
.card-status a{
  font-size:20px;
}
.icon-pink{
  color:#F40;
}
.card-rent{
}
.color-brown{
  color:#D99771;
}
.color-blue{
  color:#022873
}
.bg-blue{
  background:#022873;
  color:#FFF;
}
.discover-pager-wrapper{
  width:100%;
  display:flex;
  justify-content:center;
}
.discover-pager{
  display:flex;
}
.pager-btn{
  display:flex;
  justify-content:center;
  align-items:center;
  border: #CCC solid 0.5px;
  width:36px;
  height:36px;
}