.container {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  width: 1096px;
  margin:0 auto;
}
.detail-container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1152px;
}
.artist-container {
  width: 816px;
}

.middle {
  margin: 21.5px 0;
}
.section-header {
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
}

.view {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 50px;
  width: 1096px;
}
.discover-view {
  min-height: 338px;
}
.artist-view {
  min-height: 494px;
  column-gap: 26px;
}
.artistdetail-view{
  margin-top: 16px;
  width: 100%;
  row-gap: 30px;
}
.favorite-view {
  min-height: 726px;
}

.page-title {
  text-align: center;
}
.page-subtitle {
  text-align: center;
  font-weight: 400;
  color:#737373;
  margin-top:10px;
}

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card-img-wrap {
  display: block;
  overflow: hidden;
  height: 256px;
  width: 256px;
  background: #EEE;
}
.card-img-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card-img {
  width: 100%;
}
.card-img-detail {
  width: 172px;
  height: 172px;
}
.card-img-big {
  width: 348px;
  height: 160px;
}
.card-title-big {
  font-weight: 300;
  font-size: 28px;
  margin: 5px 0;
}
.card-info-small {
  padding: 10px;
  height: 54px;
  font-size: 14px;
}

.discover-card {
  height: 338px;
}
.artist-card {
  height: 222px;
}

/*form*/
.email {
  flex-grow: 1;
}
.email-button {
  width: 150px;
}

/*main*/
.main {
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
  gap: 56px;
}
.main h2 {
  position: relative;
  font-size: 34px;
  font-weight: normal;
}
.main h2::before, .main h2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main h2::before {
  border-left: solid #000 2px;
  background: #FFF;
  animation: typewriter 4s steps(28) forwards;
}
@keyframes typewriter {
  to {
    left: 100%;
    margin-left: 5px;
  }
}

.carousel {
  overflow: hidden;
  width: 1024px;
  height: 576px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 1024px;
  height: 576px;
  margin: auto;
  padding: 16px 64px;
  transition: transform .5s, opacity .5s, z-index .5s;
}
.carousel__photo img {
  width: 100%;
}
.carousel__photo.initial, .carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo:hover .carousel__view {
  opacity: 1;
  background: rgba(175, 175, 175, 0.5);
}
.carousel__view {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px 64px;
  transition: .5s;
}
.carousel__title {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 18px;
  color: #FFF;
}
.carousel__photo .prev, .carousel__photo .next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%);
}
.carousel__photo.next {
  transform: translateX(100%);
}
.carousel__button--prev, .carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border:1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after, .carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.description {
  font-size: 24px;
  text-align: center;
  line-height: 35px;
}

/*discover*/
.filter-group {
  width: 100%;
  border-top: #CCC 1px solid;
}
.filter-row {
  border-bottom: #CCC 1px solid;
  display: flex;
  padding: 0 18px;
  height: 64px;
  align-items: center;
}
.filter-header {
  font-weight: bold;
  width: 44px;
}
.filter-btn {
  width: 100px;
  height: 38px;
  margin-left: 27px;
}
.filter-btn-group{
  display:flex;
}
.filter-label {
  width: 100%;
  height: 100%;
  border: 0.5px solid #CCC;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.filter-btn input {
  display: none;
}
.filter-btn input:checked+label {
  background: #022873;
  color: #FFF;
}
.discover-middle {
  display: flex;
  justify-content: space-between;
  margin: 21.5px 0;
}
.discover-count {
  display: flex;
  align-items: center;
}
.middle-btns {
  display: flex;
}
.discover-submit {
  width: 100px;
  height: 38px;
}

/*discover card*/
.card-info {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 7px;
}
.card-artist {
  color: #666;
  margin-bottom: 5px;
}
.card-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.card-status a {
  font-size: 20px;
}
.icon-pink {
  color: #F40;
}
.card-rent svg {
  vertical-align: top;
}

/*deatil*/
.detail-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 728px;
  height: 728px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.detail-img {
  width: 100%;
  max-height: auto;
}
.detail-banner {
  height: 90px;
  margin-top: 22px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.detail-info {
  width: 360px;
  position: sticky;
  top: 16px;
  height: 805px;
}
.info-title {
  font-size: 24px;
  line-height: 42px;
}
.info-hr {
  margin: 26px 0;
}
.hr-grey {
  border-top: 1px solid #CCC;
}
.info-row {
  display: flex;
  align-items: center;
  margin-top: 24px;
  height: 23px;
}
.row-left {
  width: 76px;
  color: #737373;
}
.info-row-price {
  justify-content: space-between;
  height: 26px;
  margin-top: 26px;
}
.row-right-price {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.row-right-input {
  width: 35px;
}
.row-right-top {
  line-height: 23px;
}
.row-right-bottom {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}
.info-btn-group {
  display: flex;
  height: 60px;
  width: 100%;
  margin-top: 26px;
}
.info-btn-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #F40;
  border: 5px solid #F40;
  background: rgba(255, 255, 255, 0.75);
}
.info-btn {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.info-row-final {
  height: 52px;
}
.detail-left {
  width: 1152px;
  margin-right: 424px;
}
.detail-section {
  margin-top: 104px;
}
.content-title-big {
  font-size: 24px;
}
.detail-article {
  margin-top: 30px;
}
.content-title-small {
  font-size: 16px;
  color: #022873
}
.detail-para {
  margin-top: 30px;
  line-height: 1.75;
}
.deatil-artist-link {
  font-weight: bold;
  float: right;
  color: #BF7256;
}
.detail-view {
  margin-top: 30px;
  display: flex;
  gap: 13px;
}
.detail-card-bottom {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

/*review table*/
.review-button-div {
  float: right;
}
.review-button {
  width: 100px;
  height: 36px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 20px;
}
.review-product {}
.review-title {}

.card-count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38px;
  border: #000 0.5px solid;
}
.card-count-row {
  margin: 2px auto;
  width: 54px;
  height: 14px;
  text-align: center;
  font-size: 14px;
}
.artist-info {
  margin-top: 50px;
  text-align: center;
  line-height: 1.5;
}
.card-img-artist {
  width: 186px;
  height: 186px;
}

.magazine-nav {
  margin-top: 54px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background: #F2EBDC;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.magazine-button {
  display: flex;
  align-items : center;
  width: 274px;
  padding-left: 14px;
}
.magazine-button-right {
  justify-content: end;
  width: 274px;
  padding-right: 14px;
}
.magazine-nav-title {
  display: flex;
  align-items : center;
}
.magazine-title-wrap {
  margin-top: 54px;
}
.magazine-title {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
.magazine-content {
  margin-top: 54px;
  line-height: 1.5;
}
.magazine-content p {
  text-indent: 50px;
  margin-bottom: 14px;
}